<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Explore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/jquery.min.js"></script>
</head>
<body>
<!-- Header -->
<header class="navigationHeader">
    <div class="inner">
        <!-- TODO: Width to be relative -->
        <a href="index" class="logo"><img src="images/logo.png" alt="logo" height="100"></a>
        <nav id="nav">
            <a href="explore">Explore</a>
            <a href="followed">Followed</a>
            <a href="my_profile">My Profile</a>
        </nav>
    </div>
</header>
<div class="row">
    <form action="/explore" method="post">
        <input type="text" required id="search-field" class="search-field" name="searchInput" >
        <input type="submit" id="submit-search" value="Search">
    </form>
</div>
<div class="row">
    <a th:each="user : ${users}" class="user-card" th:href="${'profile/' + user.id}">
        <img th:src="${user.picture}">
        <h3 th:text="${user.name}"></h3>
    </a>
</div>
<div th:if="${users == null}" class="row">
    <a th:each="user : ${randUsers}" class="user-card" th:href="${'profile/' + user.id}">
        <img th:src="${user.picture}">
        <h3 th:text="${user.name}"></h3>
    </a></div>
<div class="row"></div>
</body>
</html>