<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SocialWorld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/main.css"/>
    <!--FIREBASE-->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>
    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-analytics.js"></script>
    <script src="js/jquery.min.js"></script>
</head>
<body>
<!-- Header -->
<header class="navigationHeader">
    <div class="inner">
        <!-- TODO: Width to be relative -->
        <a href="" class="logo"><img src="images/logo.png" alt="logo" height="100"></a>
        <nav id="nav">
            <a href="explore">Explore</a>
            <a href="followed">Followed</a>
            <a href="my_profile">My Profile</a>
        </nav>
    </div>
</header>
<div class="row">
    <div class="leftcolumn">
        <div class="create-post">
            <form action="/createPost" method="post" class="post-form">
                <h2 th:text="${user.name}"></h2>
                <input type="hidden" id="uid" th:value="${user.id}">
                <input type="hidden" id="pictureUrl" name="pictureUrl">
                <textarea rows="3" required name="postText" id="postText" class="post-text"
                          placeholder="What is on your mind ?"></textarea>
                <div class="post-photo">
                    <label for="postPhoto">
                        <img src="images/upload.png" alt="Upload Photo" height="100">
                    </label>

                    <input id="postPhoto" type="file" name="postPhoto" accept="image/*"/>
                </div>

                <input type="submit" id="postButton" class="post-button" value="Post">
            </form>
        </div>
        <hr>
        <div th:each="post : ${posts}" th:id="${'post' + post.id}" class="card">
            <img th:src="${userService.getUserById(post.userId).picture}" alt="photo" class="card-user-photo" >
            <h3 th:text="${userService.getUserById(post.userId).name}" class="card-user-name"></h3>
            <h5 th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}"></h5>
            <h4 th:text="${post.text}"></h4>
            <img th:src="${post.picture}" class="card-post-picture" >
            <br/>
            <img src="images/tick.png" th:id="${post.id}" class="like" alt="like">
            <h5 th:text="${#lists.size(post.userLikes)} + ' likes'" class="card-post-likes"></h5>
            <br/>
            <input type="text" th:id="${'c' + post.id}" name="comment" placeholder="Add comment" class="comment-input">
            <input type="submit" th:id="${post.id}" class="submitComment" value="Comment">
                <div class="comments-list" th:each="comment : ${commentService.getCommentsByPost(post.id)}">
                    <div class="comment">
                        <h5 th:text="${userService.getUserById(comment.userId).name} + ': '" class="card-comment-user"></h5>
                        <h6 th:text="${comment.text}" class="card-comment-text"></h6>
                    </div>
                </div>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2 th:text="${user.name}"></h2>
            <img th:src="${user.picture}" style="height:100px;">
            <a href="/logout" id="logout">Logout</a>
        </div>
        <div class="card">
            <img src="images/logo.png" alt="logo" height="100">
            <img src="images/logo.png" alt="logo" height="100">
            <img src="images/logo.png" alt="logo" height="100">
        </div>
    </div>
</div>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-storage.js"></script>
<script src="js/firebaseInit.js"></script>
<script src="js/firebaseLogout.js"></script>
<script src="js/createPost.js"></script>
<script src="js/like.js"></script>
<script src="js/comment.js"></script>
</body>
</html>