<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to SocialWorld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<!-- Header -->
<header id="navHeader">
    <div class="inner">
        <!-- TODO: Width to be relative -->
        <a href="index" class="logo"><img src="images/logo.png" alt="kurec" width="300"></a>
    </div>
</header>
<section id="login">
    <form class="special">
        <h1>Login</h1>
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter email...">
    </form>
</section>



<!-- Scripts -->
<script src="js/jquery.min.js"></script>
</body>
</html>