<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login to SocialWorld</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/jquery.min.js"></script>
    <!--FIREBASE-->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>
    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-analytics.js"></script>
    <!--    FirebaseUI  -->
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css"/>
</head>
<body>
<!-- Header -->
<header id="navHeader">
    <div class="inner">
        <!-- TODO: Width to be relative -->
        <a href="index" class="logo"><img src="images/logo.png" alt="kurec" width="300"></a>
    </div>
</header>
<!--<section id="login">-->
<!--    <form action="/login" method="post" id="loginForm">-->
<!--        <h1>Login</h1>-->
<!--        <label>Email</label>-->
<!--        <input class="textInput" type="email" name="email" placeholder="Enter email...">-->
<!--        <label>Password</label>-->
<!--        <input class="textInput" type="password" name="password" placeholder="Enter password...">-->
<!--        <input type="hidden" name="token" value="-1" id="token">-->
<!--        <br/>-->
<!--        <input type="submit" value="Login" id="submit">-->
<!--    </form>-->
<!--</section>-->
<div id="firebaseui-auth-container"></div>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-firestore.js"></script>

<script src="js/firebaseInit.js"></script>
<script src="js/firebaseLogin.js"></script>
</body>
</html>