@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
  box-sizing: border-box;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

body {
	-webkit-text-size-adjust: none;
}

/* Basic */

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
	background: #fff;
}

@media screen and (max-width: 480px) {
	html, body {
		min-width: 320px;
	}
}

/* Type */

body, input, select, textarea {
	color: #9a9a9a;
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: 400;
	line-height: 1.65;
}

input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(108, 192, 145, 0.50);
		border-radius: 10px;
		border: solid 2px #3f51b5;
		padding: 1.2em;
		color: #fff;
		display: block;
		outline: 0;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		input[type="tel"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		select:focus,
		textarea:focus {
		    border-bottom: none!important;
            box-shadow: none!important;
		}

@media screen and (max-width: 1680px) {
	body, input, select, textarea {
		font-size: 12pt;
	}
}

@media screen and (max-width: 1280px) {
	body, input, select, textarea {
		font-size: 12pt;
	}
}

@media screen and (max-width: 980px) {
	body, input, select, textarea {
		font-size: 12pt;
	}
}

@media screen and (max-width: 736px) {
	body, input, select, textarea {
		font-size: 12pt;
	}
}

@media screen and (max-width: 480px) {
	body, input, select, textarea {
		font-size: 12pt;
	}
}

a {
	color: rgba(3, 115, 252, 0.5);;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

strong, b {
	color: #555;
	font-weight: 600;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #555;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h1 {
    font-size: 2em;
}

h2 {
	font-size: 1.85em;
}

h3 {
	font-size: 1.75em;
}

@media screen and (max-width: 480px) {
	h3 {
		font-size: 1.25em;
	}
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 0.9em;
}

h6 {
	font-size: 0.7em;
}

hr {
	border: 0;
	border-bottom: solid 1px #dbdbdb;
	margin: 2em 0;
}

.inner {
	max-width: 75em;
	margin: 0 auto;
}

@media screen and (max-width: 1280px) {
	.inner {
		max-width: 90%;
	}
}

@media screen and (max-width: 480px) {
	.inner {
		max-width: 90%;
	}
}

/* Section/Article */

section.special, article.special {
	text-align: center;
}

section.special article, article.special article {
	text-align: left;
}

section.wrapper, article.wrapper {
	padding: 6em 0;
}

section.wrapper header, article.wrapper header {
	margin-bottom: 4em;
}

section.wrapper header h2, article.wrapper header h2 {
	font-size: 2.75em;
	margin: 0 0 .5em 0;
}

section.wrapper header p, article.wrapper header p {
	font-size: 1em;
}

section.wrapper article header, article.wrapper article header {
	margin: 0;
}

@media screen and (max-width: 980px) {
	section.wrapper, article.wrapper {
		padding: 4em 0;
	}
}

@media screen and (max-width: 736px) {
	section.wrapper, article.wrapper {
		padding: 3em 0;
	}
	section.wrapper header, article.wrapper header {
		margin-bottom: 2em;
	}
	section.wrapper header h2, article.wrapper header h2 {
		font-size: 2em;
	}
	section.wrapper header p, article.wrapper header p {
		font-size: .9em;
	}
}

@media screen and (max-width: 480px) {
	section.wrapper article, article.wrapper article {
		text-align: center;
	}
}

header p {
	color: #bbb;
	position: relative;
	margin: 0 0 1.5em 0;
}

header h2+p {
	font-size: 1.25em;
	margin-top: -1em;
}

header h3+p {
	font-size: 1.1em;
	margin-top: -0.8em;
}

header h4+p, header h5+p, header h6+p {
	font-size: 0.9em;
	margin-top: -0.6em;
}

.align-center {
    text-align:center;
}

.align-left {
    text-align:left;
}

.align-right {
    text-align:right;
}

/* Flex */

.flex {
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-pack: justify;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

.flex.flex-2 {
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.flex.flex-2 article {
	width: 50%;
}

@media screen and (max-width: 980px) {
	.flex.flex-2 article {
		width: 100%;
		margin-bottom: 3em;
	}
	.flex.flex-2 article:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 480px) {
	.flex.flex-2 br {
		display: none;
	}
}

/* Form */

form {
	margin: 0 0 2em 0;
}

form .field {
	margin-bottom: 1.5em;
}

form .field.half {
	display: inline-block;
	width: 48%;
}

form .field.half.first {
	margin-right: 3%;
}

@media screen and (max-width: 980px) {
	form .field.half {
		display: block;
		width: 100%;
	}
	form .field.half.first {
		margin-right: 0;
	}
}

label {
	color: #555;
	display: block;
	font-size: 0.9em;
	font-weight: 600;
	margin: 0 0 1em 0;
}

.textInput {
    border-radius: 7px;
    border: 1px gray solid;
}

.textInput:focus {
    border: 2px blue solid;
}

/* Icon */

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon>.label {
	display: none;
}

/* Image */

.image {
	border-radius: 0;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 0;
	display: block;
}

.image.left, .image.right {
	max-width: 40%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.round img {
	border-radius: 100%;
}

.image.left {
	float: left;
	padding: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	padding: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
}

.image.main img {
	width: 100%;
}

/* List */

ul {
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em;
}

ul li {
	padding-left: 0.5em;
}

ul.alt {
	list-style: none;
	padding-left: 0;
}

ul.alt li {
	border-top: solid 1px #dbdbdb;
	padding: 0.5em 0;
}

ul.alt li:first-child {
	border-top: 0;
	padding-top: 0;
}

ul.alt.dark li {
	border-top: solid 1px rgba(0, 0, 0, 0.25);
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 1em 0 0;
}

ul.icons li:last-child {
	padding-right: 0;
}

ul.icons li .icon:before {
	font-size: 2em;
}

ul.actions {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.actions li {
	display: inline-block;
	padding: 0 1em 0 0;
	vertical-align: middle;
}

ul.actions li:last-child {
	padding-right: 0;
}

ul.actions.small li {
	padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
	display: block;
	padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
	padding-top: 0;
}

ul.actions.vertical li>* {
	margin-bottom: 0;
}

ul.actions.vertical.small li {
	padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
	padding-top: 0;
}

ul.actions.fit {
	display: table;
	margin-left: -1em;
	padding: 0;
	table-layout: fixed;
	width: calc(100% + 1em);
}

ul.actions.fit li {
	display: table-cell;
	padding: 0 0 0 1em;
}

ul.actions.fit li>* {
	margin-bottom: 0;
}

ul.actions.fit.small {
	margin-left: -0.5em;
	width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
	padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
	ul.actions {
		margin: 0 0 2em 0;
	}
	ul.actions li {
		padding: 1em 0 0 0;
		display: block;
		text-align: center;
		width: 100%;
	}
	ul.actions li:first-child {
		padding-top: 0;
	}
	ul.actions li>* {
		width: 100%;
		margin: 0 !important;
	}
	ul.actions li>*.icon:before {
		margin-left: -2em;
	}
	ul.actions.small li {
		padding: 0.5em 0 0 0;
	}
	ul.actions.small li:first-child {
		padding-top: 0;
	}
}

/* Button */

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	background-color: transparent;
	box-shadow: inset 0 0 0 3px rgba(108, 192, 145, 0.15);
	color: rgba(3, 115, 252, 0.5); !important;
	border-radius: 30px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: 800;
	height: 3.75em;
	line-height: 3.85em;
	letter-spacing: 2px;
	padding: 0 4em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {
	background-color: rgba(108, 192, 145, 0.15);
}

input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, button:active, .button:active {
	background-color: rgba(108, 192, 145, 0.15);
}

input[type="submit"].icon, input[type="reset"].icon, input[type="button"].icon, button.icon, .button.icon {
	padding-left: 1.35em;
}

input[type="submit"].icon:before, input[type="reset"].icon:before, input[type="button"].icon:before, button.icon:before, .button.icon:before {
	margin-right: 0.5em;
}

input[type="submit"].fit, input[type="reset"].fit, input[type="button"].fit, button.fit, .button.fit {
	display: block;
	margin: 0 0 1em 0;
	width: 100%;
}

input[type="submit"].small, input[type="reset"].small, input[type="button"].small, button.small, .button.small {
	font-size: 0.8em;
}

input[type="submit"].big, input[type="reset"].big, input[type="button"].big, button.big, .button.big {
	font-size: 1.35em;
}

input[type="submit"].alt, input[type="reset"].alt, input[type="button"].alt, button.alt, .button.alt {
	background-color: transparent;
	box-shadow: inset 0 0 0 3px #FFF;
	color: #fff !important;
}

input[type="submit"].alt:hover, input[type="reset"].alt:hover, input[type="button"].alt:hover, button.alt:hover, .button.alt:hover {
	background-color: #7ec89e;
}

input[type="submit"].alt:active, input[type="reset"].alt:active, input[type="button"].alt:active, button.alt:active, .button.alt:active {
	background-color: #7ec89e;
}

input[type="submit"].alt.icon:before, input[type="reset"].alt.icon:before, input[type="button"].alt.icon:before, button.alt.icon:before, .button.alt.icon:before {
	color: #bbb;
}

input[type="submit"].special, input[type="reset"].special, input[type="button"].special, button.special, .button.special {
	background-color: rgba(3, 115, 252, 0.5);;
	color: #ffffff !important;
}

input[type="submit"].special:hover, input[type="reset"].special:hover, input[type="button"].special:hover, button.special:hover, .button.special:hover {
	background-color: #7ec89e;
}

input[type="submit"].special:active, input[type="reset"].special:active, input[type="button"].special:active, button.special:active, .button.special:active {
	background-color: #5ab884;
}

input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled, input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled, button.disabled, button:disabled, .button.disabled, .button:disabled {
	background-color: #9a9a9a !important;
	box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
	color: #fff !important;
	cursor: default;
	opacity: 0.25;
}

@media screen and (max-width: 480px) {
	input[type="submit"], input[type="reset"], input[type="button"], button, .button {
		padding: 0;
		width: 100%;
	}
}

/* Header */

#header {
	color: #fff;
	cursor: default;
	height: 100px;
	left: 0;
	line-height: 3.25em;
	position: absolute;
	text-align: right;
	top: 2em;
	width: 100%;
	z-index: 10001;
}

#header .inner {
	margin: 0 auto;
	position: relative;
}

#header .logo {
	color: #ffffff;
	display: inline-block;
	font-weight: 400;
	height: inherit;
	left: 0;
	line-height: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	font-size: 1em;
}

#header a {
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	display: inline-block;
	padding: 0 0.75em;
	color: inherit;
	text-decoration: none;
	font-size: 1em;
}

#header a:hover {
	color: #ffffff;
}

#header a:last-child {
	padding-right: 0;
}

/* Banner */

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

#banner {
	padding: 8em 0 9em 0;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
}

#banner:before {
	content: '';
	background: rgba(113, 113, 119, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#banner .inner {
	border-top: 2px solid rgba(255, 255, 255, 0.2);
	position: relative;
	z-index: 10005;
	padding-top: 8em;
}

#banner h1 {
	font-size: 3.5em;
	font-weight: 400;
	color: #fff;
	line-height: 1em;
	margin: 0 0 1em 0;
	padding: 0;
}

#banner h3 {
	font-weight: 400;
	color: #fff;
	margin: 0;
	font-size: 1.5em;
}

#banner .icon {
	color: rgba(3, 115, 252, 0.5);;
	font-size: 2em;
}

#banner p {
	font-size: 1em;
	color: white;
	margin-bottom: 1.75em;
}

#banner .flex {
	-ms-flex-pack: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto 4em auto;
}

#banner .flex div {
	border-right: 2px solid rgba(255, 255, 255, 0.2);
	padding: 0 8em;
}

#banner .flex div:last-child {
	border: none;
	padding-right: 0;
}

#banner .flex div:first-child {
	padding-left: 0;
}

#banner .flex div p {
	margin: 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	#banner {
		background-attachment: scroll;
	}
}

@media screen and (max-width: 1680px) {
	#banner .flex div {
		padding: 0 6em;
	}
}

@media screen and (max-width: 1280px) {
	#banner {
		padding: 7em 0 6em 0;
	}
	#banner .inner {
		padding-top: 6em;
	}
	#banner h1 {
		font-size: 3em;
	}
	#banner h3 {
		font-size: 1.25em;
	}
	#banner .flex div {
		padding: 0 3em;
	}
}

@media screen and (max-width: 980px) {
	#banner {
		background-attachment: scroll;
		padding: 5em 0 4em 0;
	}
	#banner .inner {
		padding-top: 4em;
	}
	#banner h1 {
		font-size: 2.5em;
	}
	#banner h3 {
		font-size: 1.25em;
	}
	#banner .flex div {
		font-size: .85em;
		padding: 0 1.5em;
	}
}

@media screen and (max-width: 736px) {
	#banner {
		padding: 4em 0 3em 0;
	}
	#banner .inner {
		padding-top: 3em;
	}
	#banner h1 {
		font-size: 2em;
	}
	#banner h3 {
		font-size: 1.25em;
	}
	#banner .flex {
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		margin: 0 auto 2em auto;
	}
	#banner .flex div {
		font-size: .85em;
		padding: 0;
		border: none;
		margin-bottom: 1em;
	}
}

@media screen and (max-width: 480px) {
	#banner h1 {
		font-size: 1.5em;
	}
}

/* Home Main */
#three {
	background: rgba(220, 220, 226, 0.85);
}

.hiddenForm {
  display: none;
}

#loginForm h1{
  color: black;
  size: 1.8em;
}

#loginForm p{
  color: black;
}

.firebaseui-container {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.15)
}

.mdl-card {
    background-color: rgba(0, 0, 0, 0.15)
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: white;
    size: 1.5em;
    margin-bottom: 40px;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after, .mdl-textfield__label:after {
    background-color: transparent;
}

.firebaseui-link.firebaseui-id-secondary-link, .mdl-button--raised.mdl-button--colored {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	background-color: transparent;
	color: white;
	border: 0;
	cursor: pointer;
	display: inline-block;
	font-size: .75em;
	font-weight: 400;
	height: 3.75em;
	line-height: 3.85em;
	letter-spacing: 2px;
	padding: 0 2em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

.firebaseui-link.firebaseui-id-secondary-link, .mdl-button--raised.mdl-button--colored:hover {
	background-color: rgba(108, 192, 145, 0.55);
}

.firebaseui-link.firebaseui-id-secondary-link, .mdl-button--raised.mdl-button--colored:active {
	background-color: rgba(108, 192, 145, 0.55);
}

@media screen and (max-width: 480px) {
	.firebaseui-link.firebaseui-id-secondary-link, .firebaseui-id-submit.mdl-button--raised.mdl-button--colored {
		padding: 0;
		width: 100%;
	}
}

/* Navigation on other pages*/
.navigationHeader {
  text-align: right;
  color: #fff;
  cursor: default;
  height: 80px;
  left: 0;
  line-height: 3.25em;
  position: relative;
  width: 100%;
  z-index: 10001;
  background: rgba(108, 192, 145, 0.50);
}

.navigationHeader .inner {
	margin: 0 auto;
	position: relative;
}

.navigationHeader .logo {
	color: #ffffff;
	display: inline-block;
	font-weight: 400;
	height: inherit;
	left: 0;
	line-height: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	font-size: 1em;
}

.navigationHeader a {
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	display: inline-block;
	padding: 0 0.75em;
	color: inherit;
	text-decoration: none;
	font-size: 1em;
}

.navigationHeader a:hover {
	color: #ffffff;
}

.navigationHeader a:last-child {
	padding-right: 0;
}

@media screen and (max-width: 736px) {
	.navigationHeader a {
		padding: 0 0.5em;
	}
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 69%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 31%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Search */
.search-field {
    height: 50px;
    width: 60%;
    margin-top: 50px;
}

/* Card */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    background-color: beige;
}

.card-user-photo {
    max-height: 100px;
    display: inline-block;
    max-width: 30%;
}

.card-user-name {
    display: inline-block;
    width: 70%;
}

.card-post-picture {
    max-height: 20em;
    max-width: 20em;
}

.card-post-likes {
    display: inline-block;
}

.like {
    display: inline-block;
    width: 5em;
    height: 5em;
}

.likes-container {
    width: 15%;
    display: inline-block;
}

.comment-input-container {
    width: 80%;
    display: inline-block;
}

.comment-input {
    display: inline-block !important;
    width: 60% !important;
}

.submitComment {
    display: inline-block !important;
    width: 30%;
    text-align: left !important;
}

.card-comment-user {
    display: inline-block;
    font-weight: 600;
}

.card-comment-text {
    display: inline-block;
}

@media screen and (max-width: 920px) {
	.likes-container, .comment-input-container {
        width:100%;
	}
}

/* Chat */
.chat-message-others{
    color: black;
    background-color:rgba(0, 60, 0, 0.5)
}

.chat-message-mine{
    color: black;
    background-color:rgba(0, 0, 60, 0.5)
}

/* Post */
.post-form {
    margin : 10px;
}

.post-text {
    width: 80%;
    display: inline-block;
    float: left;
}

/* File input */
.post-photo {
    width: 10%;
    display: inline-block;
    margin-left: 5px;
}

.post-photo > input {
    visibility:hidden;
    width:0;
    height:0
}

.post-button {
    width: 30%;
}