<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/jquery.min.js"></script>
    <!--FIREBASE-->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>
    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-analytics.js"></script>
</head>
<body>
<!-- Header -->
<header class="navigationHeader">
    <div class="inner">
        <!-- TODO: Width to be relative -->
        <a href="index" class="logo"><img src="images/logo.png" alt="logo" height="100"></a>
        <nav id="nav">
            <a href="explore">Explore</a>
            <a href="friends">Friends list</a>
            <a href="my_profile">My Profile</a>
        </nav>
    </div>
</header>

<div class="row">
    <section id="three" class="wrapper align-center">
        <div class="image round">
            <!-- TODO: Width to be relative -->
            <img th:src="${user.picture}" width="150"/>
        </div>
        <header>
            <h3 th:text="${user.email}"></h3>
        </header>
        <form action="/edit_profile" method="POST">
            <label>Name</label>
            <input type="text" name="name" required id="name" th:value="${user.name}">
            <label>Birthday</label>
            <input type="date" name="dob" id="dob" th:field="${user.dateOfBirth}">
            <label>Gender</label>
            <select name="genderId" id="genderId">
                <option th:each="gender : ${genders}"
                        th:text="${gender.value}"
                        th:value="${gender.key}"
                        th:selected="${user.genderId} == ${gender.key} ? true : false"></option>
            </select>
            <label>Country</label>
            <select name="countryId" id="countryId">
                <option th:each="country : ${countries}"
                        th:text="${country.value}"
                        th:value="${country.key}"
                        th:selected="${user.countryId} == ${country.key} ? true : false"></option>
            </select>
            <label>Profile picture</label>
            <input type="file" name="picture" id="picture" accept="image/*"><br/>
            <input type="submit" value="Edit" id="submit">
        </form>
        <a href="/my_profile">Go back</a>
    </section>
</div>
<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-storage.js"></script>

<script src="js/firebaseInit.js"></script>
<script src="js/editUser.js"></script>
</body>
</html>