<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
<!-- Header -->
<header class="navigationHeader">
    <div class="inner">
        <!-- TODO: Width to be relative -->
        <a href="index" class="logo"><img src="images/logo.png" alt="logo" height="100"></a>
        <nav id="nav">
            <a href="explore">Explore</a>
            <a href="friends">Friends list</a>
            <a href="my_profile">My Profile</a>
        </nav>
    </div>
</header>

<div class="row">
    <section id="three" class="wrapper align-center">
        <div class="image round">
            <!-- TODO: Width to be relative -->
            <img th:src="${user.picture}" width="150"/>
        </div>
        <header>
            <h3 th:text="${user.email}"></h3>
        </header>
        <form action="/edit_profile" method="POST" enctype="multipart/form-data">
            <label>Name</label>
            <input type="text" name="name" th:value="${user.name}">
            <label>Birthday</label>
            <input type="date" name="dob" th:value="${user.dateOfBirth}">
            <label>Gender</label>
            <select name="genderId">
                <option th:each="gender : ${genders}"
                        th:text="${gender.value}"
                        th:value="${gender.key}"
                        th:selected="${user.genderId} == ${gender.key} ? true : false"></option>
            </select>
            <label>Country</label>
            <select name="countryId">
                <option th:each="country : ${countries}"
                        th:text="${country.value}"
                        th:value="${country.key}"
                        th:selected="${user.countryId} == ${country.key} ? true : false"></option>
            </select>
            <label>Profile picture</label>
            <input type="file" name="picture"><br/>
            <input type="submit" value="Edit">
        </form>
        <a href="/my_profile">Go back</a>
    </section>
</div>
</body>
</html>