<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.name}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/main.css"/>
    <!--FIREBASE-->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>
    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-analytics.js"></script>
    <script src="js/jquery.min.js"></script>
</head>
<body>
<!-- Header -->
<header class="navigationHeader">
    <div class="inner">
        <!-- TODO: Width to be relative -->
        <a href="/index" class="logo"><img src="images/logo.png" alt="logo" height="100"></a>
        <nav id="nav">
            <a href="explore">Explore</a>
            <a href="friends">Friends list</a>
            <a href="my_profile">My Profile</a>
        </nav>
    </div>
</header>

<div class="row">
    <div class="leftcolumn">
        <h1> My Posts </h1>
        <div th:each="post : ${posts}" th:id="${'post' + post.id}" class="card">
            <h2 th:text="${post.text}"></h2>
            <h5 th:text="${post.date}"></h5>
            <img th:src="${post.picture}" style="height:200px;">
            <h6 th:text="${post.likes}"></h6>
            <input type="button" th:id="${post.id}" class="removePost" value="Delete">
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h1>My Data</h1>
            <a class="button" href="edit_profile">Edit</a>
            <h2 th:text="${user.name}"></h2>
            <h4 th:text="${user.email}"></h4>
            <img th:src="${user.picture}" style="height:100px;">
            <h4 th:text="${user.dateOfBirth}"></h4>
            <h4 th:text="${gender}"></h4>
            <h4 th:text="${country}"></h4>
            <a class="button" href="/logout" id="logout">Logout</a>
        </div>
    </div>
</div>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-firestore.js"></script>
<script src="js/firebaseInit.js"></script>
<script src="js/firebaseLogout.js"></script>
<script src="js/removePost.js"></script>
</body>
</html>