<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.name}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <script src="../js/jquery.min.js"></script>
</head>
<body>
<!-- Header -->
<header class="navigationHeader">
    <div class="inner">
        <!-- TODO: Width to be relative -->
        <a href="../feed" class="logo"><img src="../images/logo.png" alt="logo" height="100"></a>
        <nav id="nav">
            <a href="../explore">Explore</a>
            <a href="../followed">Followed</a>
            <a href="../my_profile">My Profile</a>
        </nav>
    </div>
</header>

<div class="row">
    <div class="leftcolumn">
        <h5 class="hidden" id="uName" th:text="${currentUserName.name}"></h5>
        <h1> Posts </h1>
        <div th:each="post : ${posts}" th:id="${'post' + post.id}" class="card">
            <img th:src="${userService.getUserById(post.userId).picture}" alt="photo" class="card-user-photo">
            <h3 th:text="${userService.getUserById(post.userId).name}" class="card-user-name"></h3>
            <h5 th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}"></h5>
            <h4 th:text="${post.text}"></h4>
            <img th:src="${post.picture}" class="card-post-picture">
            <br/>
            <div class="likes-container">
                <div th:if="${#lists.contains(post.userLikes, user.id)}">
                    <img src="../images/like_marked.png" th:id="${post.id}" class="like" alt="like">
                </div>
                <div th:unless="${#lists.contains(post.userLikes, user.id)}">
                    <img src="../images/like_unmarked.png" th:id="${post.id}" class="like" alt="like">
                </div>
                <h5 th:text="${#lists.size(post.userLikes)} + ' likes'" class="card-post-likes"></h5>
            </div>
            <div class="comment-input-container">
                <input type="text" th:id="${'c' + post.id}" name="comment" placeholder="Add comment"
                       class="comment-input">
                <input type="submit" th:id="${post.id}" class="submitComment" value="Comment">
            </div>
            <div class="comments-list" >
                <div class="comment" th:each="comment : ${commentService.getCommentsByPost(post.id)}">
                    <h5 th:text="${userService.getUserById(comment.userId).name} + ': '" class="card-comment-user"></h5>
                    <h6 th:text="${comment.text}" class="card-comment-text"></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2 th:text="${user.name}"></h2>
            <h4 th:text="${user.email}"></h4>
            <img th:src="${user.picture}" style="height:100px;">
            <h4 th:text="${user.dateOfBirth}"></h4>
            <h4 th:text="${gender}"></h4>
            <h4 th:text="${country}"></h4>
            <input type="hidden" id="uid" th:value="${user.id}">
            <div th:if="${isFollowed}">
                <input type="button" id="unfollow" value="Unfollow">
            </div>
            <div th:unless="${isFollowed}">
                <input type="button" id="follow" value="Follow">
            </div>
            <a th:href="${'/chat/' + user.id}">Open Chat</a>
        </div>
    </div>
</div>
<script src="../js/followUser.js"></script>
<script src="../js/like.js"></script>
<script src="../js/comment.js"></script>
</body>
</html>